<mat-sidenav-container style="height: calc(100vh - 20px)">
	<div class="basic-container">
		<div class="vertical-center">
			<div class="main-wrapper">
				<div [@openClose]="showCardBody ? 'closed' : 'open'">
					<h1 [@fadeOut]="'flyIn'" class="lp">Add your first task</h1>
				</div>
				<div [@openClose]="showCardBody ? 'closed' : 'open'">
					<mat-form-field appearance="fill">
						<input matInput placeholder="Add your first task" [(ngModel)]="textValue" (keydown.enter)="onKeypress($event)">
        </mat-form-field>
				</div>
				<div [@openClose]="showCardBody ? 'closed' : 'open'">
					<div class="box-purple"></div>
					<span class="grey-text">Make Animation</span>
				</div>
				<div [@openClose]="showCardBody ? 'closed' : 'open'">
					<h1 [@Leave]="'flyIn'" style="color:blue;">
						<div class="box"><span class="cross-btn"></span></div>
						<span class="grey-text strike">Make Animation</span>
					</h1>
				</div>

			</div>
		</div>

	</div>
</mat-sidenav-container>