<mat-sidenav-container style="height: calc(100vh - 20px)">
	<div class="basic-container">
		<div class="vertical-center">
			<div class="main-wrapper">
				<form [formGroup]="form">
					<div *ngIf="currentState=='open'">
						<button class="plus-button plus-button-text plus-button--large"></button>
						<h1 [@fadeOut]="'flyIn'" (click)="onClickAddTask()" class="lp">Add your first task</h1>
					</div>

					<div *ngIf="currentState=='inInputState'">
						<mat-form-field appearance="fill">
							<input #myText matInput 
           (keydown.enter)="onKeypress($event)">
        </mat-form-field>
					</div>

					<div *ngIf="currentState=='inChkboxState'">
						<label class="container">
         <mat-checkbox style="display:none" (change)="onCheckBoxChange()"
          class="example-margin"
          [(ngModel)]="isChecked">
          </mat-checkbox>
          <span class="purple-text big-text">Make animation</span>
        <span class="checkmark purple-box"></span>
       </label>

					</div>
					<div *ngIf="currentState=='closed'">
						<h1 style="color:blue;">
							<div class="box"><span class="cross-btn"></span></div>
							<h1 class="grey-text strike">Make Animation</h1>
						</h1>
					</div>
				</form>
			</div>
		</div>

	</div>
</mat-sidenav-container>