<mat-sidenav-container style="height: calc(100vh - 20px)">
	<div class="basic-container">
		<div class="vertical-center">
			<div class="main-wrapper">

				<div [@openClose]="currentState" >
					<button class="plus-button plus-button-text plus-button--large"></button>
					<h1 [@fadeOut] (click)="onClickAddTask()" class="lp">Add your first task</h1>
				</div>

				<div [@openClose]="currentState" >
					<mat-form-field appearance="fill">
						<input #myText matInput [(ngModel)]="inputTag"placeholder="Add your first task"
           (keydown.enter)="onKeypress($event)"  >
           
        </mat-form-field>
				</div>

				<div [@openClose]="currentState"  >
					<label class="container">
         <mat-checkbox style="display:none" (change)="onCheckBoxChange()"
          class="example-margin" 
          [(ngModel)]="isChecked">
          </mat-checkbox>
          <span class="purple-text big-text">{{inputTag}}</span>
        <span class="checkmark purple-box"></span>
       </label>

				</div>
				<div [@openClose]="currentState" >
					<h1 style="color:blue;">
						<div class="box"><span class="cross-btn"></span></div>
						<h1 class="grey-text strike">{{inputTag}}</h1>
					</h1>
				</div>

			</div>
		</div>

	</div>
</mat-sidenav-container>